.links {
  list-style: none;
  padding-left: 0;
}
.links li {
  padding-bottom: 0.2em;
}
.links svg {
  width: 1.8em;
  height: 1.8em;
}
@media (prefers-color-scheme: dark) {
  svg path {
    fill: white;
  }
}
.links a {
  display: grid;
  grid-template-columns: 2.2em 1fr;
  align-items: center;
}
