<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="mask-icon" href="/faviconsafari.svg" color="#000" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>
      {{- block "title" . }}
        {{ with .Title }}{{ . }} |{{ end }}{{ .Site.Title }}
      {{- end }}

    </title>

    {{- partial "seo_tags.html" . -}}
    <meta name="referrer" content="no-referrer-when-downgrade" />

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{- partial "style.html" . -}}

  </head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-68QK6M81JF"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-68QK6M81JF");
  </script>

  <body>
    <header>
      {{- partial "header.html" . -}}
    </header>
    <main>
      {{- block "main" . }}{{- end }}
    </main>
    <footer>
      {{- partial "footer.html" . -}}
    </footer>
  </body>
</html>
