<div class="grid with-buttons">
  <button @click.prevent="scores.{{ .Name }}--" class="symbol-button outline">
    <span class="material-symbols-outlined"> remove </span>
  </button>
  <label class="emoji" data-before="{{ .Emoji }} "
    >{{ .Label }}
    <input
      v-model="scores.{{ .Name }}"
      type="number"
      pattern="[0-9]*"
      inputmode="numeric"
      name="{{ .Name }}"
    />
  </label>
  <button @click.prevent="scores.{{ .Name }}++" class="symbol-button outline">
    <span class="material-symbols-outlined"> add </span>
  </button>
</div>
